.section {
  padding-bottom: 160px;
  position: relative;
  z-index: 1;
  @include media(desktop) {
    padding-bottom: 200px;
  }
}

.stepsContainer {
  @include about-container;
}
.spanInfo {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  @include media(tablet) {
    font-size: 14px;
  }
  @include media(desktop) {
    font-size: 16px;
  }
}
.title {
  @include title-info;
  @include media(desktop) {
    width: 700px;
  }
}
.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 32px;
  text-align: left;

  width: 320px;
  @include media(tablet) {
    font-size: 20px;
    margin-bottom: 41px;
    width: auto;
  }
  @include media(desktop) {
    margin-bottom: 49px;
  }
}
